
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bodycontainer {
    width: 100%;
    height: 100%;
    background-color: #0f0f0f;
    color: #e6e6e6; 

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 600px;
    height: 800px;
    background-color: #1a1a1a;

    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
    text-align: center;
    border-radius: 10px;
}

#chat-header {
    position: relative;
    border-bottom: 1px solid rgb(204, 204, 204);
    background-color: #222222;
    padding: 10px 0;
}

#chat-box {
    position: relative;
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #1a1a1a;
}

#chat-messages {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}

.message-attributes {
    position: relative;
    padding: 0 0 7px 0;
    margin: 0 0 0 80px;

    max-width: 100%;
    word-break: break-word;
    height: auto;
}

.message-attributes::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: var(--bubble-color, blue);
    border-radius: 100px;
    left: -50px;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.message-attributes::after {
    content: attr(data-username);
    position: absolute;
    height: 40px;
    width: 40px;
    left: -50px;
    top: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;
    font-size: 1rem;
}

#input-box {
    position: absolute;
    bottom: 30px;
    width: 90%;
    height: 50px;
    background-color: #2b2b2b;
    border-radius: 10px;

    left: 50%;
    transform: translateX(-50%);

    display: flex;                 
    align-items: center;           
    justify-content: center;
    padding: 0 10px;               
    box-sizing: border-box;
}

#message-input {
    position: relative;
    height: auto;
    min-height: 20px;
    width: 67%;
    padding: 0;
    margin: 0;
    color: #f0f0f0;
    border: none;
    outline: none;
    background-color: inherit;

    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.send-button {
    position: relative;
    height: 35px;
    width: 17%;
    padding: 0;
    border: none;
    background-color: #6c5ce7;
    color: white;
}

.send-button:hover {
    background-color: #8e7bff;
}

#chat-messages .chat-message-card {
    text-align: left;
    list-style: none;

    border-bottom: 1px solid #2e2e2e;
    padding: 10px 0;
}

#chat-messages .chat-message-card .message-attributes h4 {
    margin: 9px 0 0 0;
    padding: 0;
    color: #ffffff;
}

#chat-messages .chat-message-card .message-attributes p {
    margin: 0 0 7px 0;
    padding: 0;
    color: #dcdcdc;
    white-space: pre-wrap;
}

#chat-messages .chat-message-card .message-attributes .message-time {
    position: absolute;
    right: 1%;
    
    color: gray;
    font-size: small;
}