<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset= "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" th:href="@{/css/groups.css}">

        <link rel="icon" type="image/svg+xml" href="/favicon.svg">

        <title>Groups</title>
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    </head>



    <body>
        <div class="bodycontainer">
            <header>
                <span>
                    <button type="button">
                        <img src="@{/img/icons/messageSVG.svg}" alt="icon">
                    </button>
                </span>
            </header>
            <div class="group-and-filter-cont">
                <header>
                    <div class="header-wrapper">
                        <h3>Messanger</h3>
                    </div>
                </header>

                <div class="search-bar">

                </div>

                <div class="filter-list">

                </div>

                <div class="group-list">
                    <div class="group">
                        <div class="group-attributes">
                            <div class="group-attributes-wrap">
                                <h3>Gruppenname</h3>
                                <p class="last-send-message">
                                    Letzte Nachricht
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="group-attributes">
                            <div class="group-attributes-wrap">
                                <h3>Gruppenname</h3>
                                <p class="last-send-message">
                                    Letzte Nachricht
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="group-attributes">
                            <div class="group-attributes-wrap">
                                <h3>Gruppenname</h3>
                                <p class="last-send-message">
                                    Letzte Nachricht
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="group-attributes"></div>
                    </div>
                    <div class="group">
                        <div class="group-attributes"></div>
                    </div>
                </div>
            </div>
            <div class="chat-area">
                <header>
                    <div class="group-attributes-in-header">
                        <h3>Gruppenname</h3>
                    </div>
                </header>
                <div class="chatbox">
                    <ul class="chat-messages">
                        <li>
                            <div class="message-attributes">
                                <div>
                                    <h4>username</h4>
                                    <p>Die Nachricht wird hier angezeigt</p>
                                </div>
                                <p class="message-time"></p>
                            </div>
                        </li>
                        <li>
                            <div class="message-attributes">
                                <div>
                                    <h4>username</h4>
                                    <p>Die Nachricht wird hier angezeigt</p>
                                </div>
                                <p class="message-time"></p>
                            </div>
                        </li>
                        <li>
                            <div class="message-attributes">
                                <div>
                                    <h4>username</h4>
                                    <p>Die Nachricht wird hier angezeigt</p>
                                </div>
                                <p class="message-time"></p>
                            </div>
                        </li>
                        <li>
                            <div class="message-attributes">
                                <div>
                                    <h4>username</h4>
                                    <p>Die Nachricht wird hier angezeigt</p>
                                </div>
                                <p class="message-time"></p>
                            </div>
                        </li>
                    </ul>
                    <div class="message-input-field">
                        <input id="message-input" type="text" placeholder="Type a message...">
                        <button>Send</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>