<!DOCTYPE html>
<html>
    <head>
        <meta charset= "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/groups.css">
        <title>Groups</title>
    </head>





    <body>
        <div class="bodycontainer">
            <header>
                <span></span>
            </header>
            <div class="group-and-filter-cont">
                <header>
                    <div class="header-wrapper">
                        <h3>Messanger</h3>
                    </div>
                </header>

                <div class="search-bar">

                </div>

                <div class="filter-list">

                </div>

                <div class="group-list">
                    <div class="group">
                        <div class="group-attributes">
                            <div class="group-attributes-wrap">
                                <h3>Gruppenname</h3>
                                <p class="last-send-message">
                                    Letzte Nachricht
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="group-attributes">
                            <div class="group-attributes-wrap">
                                <h3>Gruppenname</h3>
                                <p class="last-send-message">
                                    Letzte Nachricht
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="group-attributes">
                            <div class="group-attributes-wrap">
                                <h3>Gruppenname</h3>
                                <p class="last-send-message">
                                    Letzte Nachricht
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <div class="group-attributes"></div>
                    </div>
                    <div class="group">
                        <div class="group-attributes"></div>
                    </div>
                </div>
            </div>
            <div class="chat-area">
                <header>
                    <div class="group-attributes-in-header">
                        <h3>Gruppenname</h3>
                    </div>
                </header>
                <div class="chatbox">
                    <ul class="chat-messages">
                        <li>
                            <div class="message-attributes">
                                <div>
                                    <h4>username</h4>
                                    <p>Die Nachricht wird hier angezeigt</p>
                                </div>
                                <p class="message-time"></p>
                            </div>
                        </li>
                        <li>
                            <div class="message-attributes">
                                <div>
                                    <h4>username</h4>
                                    <p>Die Nachricht wird hier angezeigt</p>
                                </div>
                                <p class="message-time"></p>
                            </div>
                        </li>
                        <li>
                            <div class="message-attributes">
                                <div>
                                    <h4>username</h4>
                                    <p>Die Nachricht wird hier angezeigt</p>
                                </div>
                                <p class="message-time"></p>
                            </div>
                        </li>
                        <li>
                            <div class="message-attributes">
                                <div>
                                    <h4>username</h4>
                                    <p>Die Nachricht wird hier angezeigt</p>
                                </div>
                                <p class="message-time"></p>
                            </div>
                        </li>
                    </ul>
                    <div class="message-input-field">
                        <input id="message-input" type="text" placeholder="Type a message...">
                        <button>Send</button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>