<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
    <head>
        <meta charset= "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login Page</title>
        <link rel="stylesheet" th:href="@{/css/login.css}">
    </head>

    <body>
        <div class="bodycontainer">
            <div class="logincontainer">
                <div class="logincontainer-wrapper">
                    <form th:action="@{/login/check}" method="post">

                    <h1>Anmeldung</h1>

                    <input name="username" id="username" class="login-user-input" type="text" placeholder="username"> </br>

                    <input name="password" id="password" class="login-user-input" type="password" placeholder="password"> </br>

                    <div th:if="${param.error}">
                        <p style="color:red;">Login fehlgeschlagen</p> </br>
                    </div>

                    <button class="login-button" type="submit">Login</button> </br>

                    <a id="register" href="">Registrieren &#8594;</a>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>